@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #131313;
}

a {
  text-decoration: none;
}

body {
  background-color: #ebebeb;
}

.language-btn {
  color: #ebebeb;
}

/* header */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 200px;
  background-color: #0059ff;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.header_logo {
  margin-left: 20px;
  margin-right: auto;
}

.header_logo a {
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  color: #ebebeb;
  font-weight: 900;
  font-size: 28px;
}

.nav_list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_item {
  padding-right: 40px;
  font-size: 14px;
}

.nav_item a {
  text-shadow: 0 0 20px rgba(0, 0, 0, 0);
  color: #ebebeb;
}

.nav_btn {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  margin-right: 20px;
  padding: 12px 18px;
  border: 1px solid #ebebeb;
  background-color: #ebebeb;
  color: #0059ff;
  border-radius: 10px;
  transition: 0.2s;
}

.nav_btn:hover {
  border: 1px solid #ebebeb;
  background-color: #0059ff;
  color: #ebebeb;
}

/* buchtarma */

.attraction {
  display: flex;
  justify-content: center;
  align-items: center;
}

.attraction img {
  border-radius: 50px;
  margin: 100px 0px;
  margin-left: 100px;
  margin-right: 30px;
  height: 70vh;
}

.attraction_text {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.attraction_text h1 {
  margin-bottom: 40px;
  font-size: 40px;
}

.attraction_text p {
  font-size: 15px;
  margin-bottom: 30px;
}

.attraction_text a {
  color: purple;
}

/* footer */

footer {
  height: 10vh;
  background-color: #0059ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h1 {
  color: #ebebeb;
}
